@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300");
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

a {
  background-color: transparent; }
  a:active {
    outline: 0; }
  a:hover {
    outline: 0; }

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.container {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 544px) {
    .container {
      max-width: 576px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 940px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }
  .container::after {
    display: table;
    clear: both;
    content: ""; }

@-webkit-keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@-moz-keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@-o-keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@-webkit-keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@-moz-keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@-o-keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@-webkit-keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
@-moz-keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
@-o-keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
@keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
.logo, .m-footer .mobil-shop-ico {
  background-image: url("../images/logo.png");
  display: block;
  max-width: 100%;
  height: auto;
  width: 116px;
  height: 40px;
  float: left;
  background-size: cover; }

.container {
  max-width: 1244px;
  width: 100%;
  padding: 0;
  margin-bottom: 40px;
  font-size: 10px; }

.no_padding.col-lg-1, .no_padding.col-lg-10, .no_padding.col-lg-11, .no_padding.col-lg-12, .no_padding.col-lg-2,
.no_padding.col-lg-3, .no_padding.col-lg-4, .no_padding.col-lg-5, .no_padding.col-lg-6, .no_padding.col-lg-7,
.no_padding.col-lg-8, .no_padding.col-lg-9, .no_padding.col-md-1, .no_padding.col-md-10, .no_padding.col-md-11,
.no_padding.col-md-12, .no_padding.col-md-2, .no_padding.col-md-3, .no_padding.col-md-4, .no_padding.col-md-5,
.no_padding.col-md-6, .no_padding.col-md-7, .no_padding.col-md-8, .no_padding.col-md-9, .no_padding.col-sm-1,
.no_padding.col-sm-10, .no_padding.col-sm-11, .no_padding.col-sm-12, .no_padding.col-sm-2, .no_padding.col-sm-3,
.no_padding.col-sm-4, .no_padding.col-sm-5, .no_padding.col-sm-6, .no_padding.col-sm-7, .no_padding.col-sm-8,
.no_padding.col-sm-9, .no_padding.col-xs-1, .no_padding.col-xs-10, .no_padding.col-xs-11, .no_padding.col-xs-12,
.no_padding.col-xs-2, .no_padding.col-xs-3, .no_padding.col-xs-4, .no_padding.col-xs-5, .no_padding.col-xs-6,
.no_padding.col-xs-7, .no_padding.col-xs-8, .no_padding.col-xs-9 {
  padding-right: 0px;
  padding-left: 0px; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #757575; }

a:hover, a.active, a:focus {
  text-decoration: none;
  color: #2979ff; }

.m-btn, .listen-btm, .add-btm, section.header .container .subscribe {
  font-family: "Open Sans Semibold";
  display: inline-block;
  margin-bottom: 0;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid white;
  white-space: nowrap;
  float: left;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0.15);
  padding: 10px 12px;
  font-size: 9px;
  line-height: 9px;
  border-radius: 24px; }
  .m-btn:hover, .listen-btm:hover, .add-btm:hover, section.header .container .subscribe:hover {
    -webkit-animation: fadeOnFontHover 0.4s;
    -o-animation: fadeOnFontHover 0.4s;
    -moz-animation: fadeOnFontHover 0.4s;
    animation: fadeOnFontHover 0.4s; }
  .m-btn:focus, .listen-btm:focus, .add-btm:focus, section.header .container .subscribe:focus, .m-btn.focus, .focus.listen-btm, .focus.add-btm, section.header .container .focus.subscribe {
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0);
    border-color: rgba(191, 191, 191, 0.15); }
  .m-btn:hover, .listen-btm:hover, .add-btm:hover, section.header .container .subscribe:hover {
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0);
    border-color: rgba(224, 224, 224, 0.15); }
  .m-btn:active, .listen-btm:active, .add-btm:active, section.header .container .subscribe:active, .m-btn.active, .active.listen-btm, .active.add-btm, section.header .container .active.subscribe {
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0);
    border-color: rgba(224, 224, 224, 0.15); }
  .m-btn:hover, .listen-btm:hover, .add-btm:hover, section.header .container .subscribe:hover, .m-btn:focus, .listen-btm:focus, .add-btm:focus, section.header .container .subscribe:focus, .m-btn.focus, .focus.listen-btm, .focus.add-btm, section.header .container .focus.subscribe, .m-btn.active, .active.listen-btm, .active.add-btm, section.header .container .active.subscribe {
    text-decoration: none;
    background-color: #2979ff; }
  .m-btn span, .listen-btm span, .add-btm span, section.header .container .subscribe span {
    letter-spacing: 2.3px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    vertical-align: middle;
    color: #F5FFFD;
    margin-left: 10px; }

.add-btm {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 10px;
  font-size: 16px; }

.icon {
  cursor: pointer;
  display: inline-block;
  font: normal normal normal 14px/1 "Material-Design-Iconic-Font";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 40px;
  vertical-align: middle; }
  .icon:hover {
    color: #2979ff; }
    .icon:hover:hover {
      -webkit-animation: fadeOnColorHover 0.4s;
      -o-animation: fadeOnColorHover 0.4s;
      -moz-animation: fadeOnColorHover 0.4s;
      animation: fadeOnColorHover 0.4s; }

.icon-repeat:before, .player .container .center .controls .icon-next:before {
  content: ""; }

.icon-prev:before {
  content: ""; }

.icon-pause:before {
  content: ""; }

.icon-pause-circle:before {
  content: ""; }

.icon-next:before {
  content: ""; }

.icon-shuffle:before {
  content: ""; }

.icon-add:before {
  content: ""; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

a {
  background-color: transparent; }
  a:active {
    outline: 0; }
  a:hover {
    outline: 0; }

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.container {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 544px) {
    .container {
      max-width: 576px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 940px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }
  .container::after {
    display: table;
    clear: both;
    content: ""; }

@-webkit-keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@-moz-keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@-o-keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@-webkit-keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@-moz-keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@-o-keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@-webkit-keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
@-moz-keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
@-o-keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
@keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
.logo, .m-footer .mobil-shop-ico {
  background-image: url("../images/logo.png");
  display: block;
  max-width: 100%;
  height: auto;
  width: 116px;
  height: 40px;
  float: left;
  background-size: cover; }

.container {
  max-width: 1244px;
  width: 100%;
  padding: 0;
  margin-bottom: 40px;
  font-size: 10px; }

.no_padding.col-lg-1, .no_padding.col-lg-10, .no_padding.col-lg-11, .no_padding.col-lg-12, .no_padding.col-lg-2,
.no_padding.col-lg-3, .no_padding.col-lg-4, .no_padding.col-lg-5, .no_padding.col-lg-6, .no_padding.col-lg-7,
.no_padding.col-lg-8, .no_padding.col-lg-9, .no_padding.col-md-1, .no_padding.col-md-10, .no_padding.col-md-11,
.no_padding.col-md-12, .no_padding.col-md-2, .no_padding.col-md-3, .no_padding.col-md-4, .no_padding.col-md-5,
.no_padding.col-md-6, .no_padding.col-md-7, .no_padding.col-md-8, .no_padding.col-md-9, .no_padding.col-sm-1,
.no_padding.col-sm-10, .no_padding.col-sm-11, .no_padding.col-sm-12, .no_padding.col-sm-2, .no_padding.col-sm-3,
.no_padding.col-sm-4, .no_padding.col-sm-5, .no_padding.col-sm-6, .no_padding.col-sm-7, .no_padding.col-sm-8,
.no_padding.col-sm-9, .no_padding.col-xs-1, .no_padding.col-xs-10, .no_padding.col-xs-11, .no_padding.col-xs-12,
.no_padding.col-xs-2, .no_padding.col-xs-3, .no_padding.col-xs-4, .no_padding.col-xs-5, .no_padding.col-xs-6,
.no_padding.col-xs-7, .no_padding.col-xs-8, .no_padding.col-xs-9 {
  padding-right: 0px;
  padding-left: 0px; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #757575; }

a:hover, a.active, a:focus {
  text-decoration: none;
  color: #2979ff; }

.m-btn, .listen-btm, .add-btm, section.header .container .subscribe {
  font-family: "Open Sans Semibold";
  display: inline-block;
  margin-bottom: 0;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid white;
  white-space: nowrap;
  float: left;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0.15);
  padding: 10px 12px;
  font-size: 9px;
  line-height: 9px;
  border-radius: 24px; }
  .m-btn:hover, .listen-btm:hover, .add-btm:hover, section.header .container .subscribe:hover {
    -webkit-animation: fadeOnFontHover 0.4s;
    -o-animation: fadeOnFontHover 0.4s;
    -moz-animation: fadeOnFontHover 0.4s;
    animation: fadeOnFontHover 0.4s; }
  .m-btn:focus, .listen-btm:focus, .add-btm:focus, section.header .container .subscribe:focus, .m-btn.focus, .focus.listen-btm, .focus.add-btm, section.header .container .focus.subscribe {
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0);
    border-color: rgba(191, 191, 191, 0.15); }
  .m-btn:hover, .listen-btm:hover, .add-btm:hover, section.header .container .subscribe:hover {
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0);
    border-color: rgba(224, 224, 224, 0.15); }
  .m-btn:active, .listen-btm:active, .add-btm:active, section.header .container .subscribe:active, .m-btn.active, .active.listen-btm, .active.add-btm, section.header .container .active.subscribe {
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0);
    border-color: rgba(224, 224, 224, 0.15); }
  .m-btn:hover, .listen-btm:hover, .add-btm:hover, section.header .container .subscribe:hover, .m-btn:focus, .listen-btm:focus, .add-btm:focus, section.header .container .subscribe:focus, .m-btn.focus, .focus.listen-btm, .focus.add-btm, section.header .container .focus.subscribe, .m-btn.active, .active.listen-btm, .active.add-btm, section.header .container .active.subscribe {
    text-decoration: none;
    background-color: #2979ff; }
  .m-btn span, .listen-btm span, .add-btm span, section.header .container .subscribe span {
    letter-spacing: 2.3px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    vertical-align: middle;
    color: #F5FFFD;
    margin-left: 10px; }

.add-btm {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 10px;
  font-size: 16px; }

.icon {
  cursor: pointer;
  display: inline-block;
  font: normal normal normal 14px/1 "Material-Design-Iconic-Font";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 40px;
  vertical-align: middle; }
  .icon:hover {
    color: #2979ff; }
    .icon:hover:hover {
      -webkit-animation: fadeOnColorHover 0.4s;
      -o-animation: fadeOnColorHover 0.4s;
      -moz-animation: fadeOnColorHover 0.4s;
      animation: fadeOnColorHover 0.4s; }

.icon-repeat:before, .player .container .center .controls .icon-next:before {
  content: ""; }

.icon-prev:before {
  content: ""; }

.icon-pause:before {
  content: ""; }

.icon-pause-circle:before {
  content: ""; }

.icon-next:before {
  content: ""; }

.icon-shuffle:before {
  content: ""; }

.icon-add:before {
  content: ""; }

.player {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  display: block;
  padding: 10px 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(33, 33, 33, 0.1);
  box-shadow: 0px 5px 5px 0px rgba(33, 33, 33, 0.1); }
  .player {
    border-bottom: 3px solid #f5f5f5; }
    .player:hover .line:after {
      display: inline-block; }
    .player .line {
      background-color: #2979ff;
      height: 3px;
      position: absolute;
      z-index: 6;
      width: 45%;
      bottom: -3px;
      cursor: pointer; }
      .player .line:after {
        display: none;
        position: absolute;
        top: -5px;
        right: -5px;
        color: #2979ff;
        font: normal normal normal 14px/1 "Material-Design-Iconic-Font";
        content: "";
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
  .player .container {
    margin-bottom: 0;
    color: #e0e0e0; }
    .player .container .icon {
      font-size: 14px;
      vertical-align: middle;
      display: block;
      margin-right: 20px;
      padding: 5px;
      line-height: 40px;
      cursor: pointer; }
      .player .container .icon i:hover {
        color: #2979ff; }
        .player .container .icon i:hover:hover {
          -webkit-animation: fadeOnColorHover 0.4s;
          -o-animation: fadeOnColorHover 0.4s;
          -moz-animation: fadeOnColorHover 0.4s;
          animation: fadeOnColorHover 0.4s; }
    .player .container .left {
      padding: 5px 0;
      float: left;
      width: 25%; }
    .player .container .center {
      float: left;
      width: 50%; }
      .player .container .center .controls {
        display: table;
        margin: 0 auto; }
        .player .container .center .controls .icon {
          display: inline-block;
          font-size: 20px;
          line-height: 40px;
          vertical-align: middle; }
          .player .container .center .controls .icon:last-child {
            margin-right: 0; }
          .player .container .center .controls .icon:hover {
            color: #2979ff; }
            .player .container .center .controls .icon:hover:hover {
              -webkit-animation: fadeOnColorHover 0.4s;
              -o-animation: fadeOnColorHover 0.4s;
              -moz-animation: fadeOnColorHover 0.4s;
              animation: fadeOnColorHover 0.4s; }
        .player .container .center .controls .icon_repeat {
          margin-right: 70px; }
    .player .container .right {
      width: 20%;
      float: right; }
      .player .container .right .m-user-avatar {
        float: right; }
      .player .container .right .icon {
        float: right; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

a {
  background-color: transparent; }
  a:active {
    outline: 0; }
  a:hover {
    outline: 0; }

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.container {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 544px) {
    .container {
      max-width: 576px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 940px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }
  .container::after {
    display: table;
    clear: both;
    content: ""; }

@-webkit-keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@-moz-keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@-o-keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@-webkit-keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@-moz-keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@-o-keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@-webkit-keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
@-moz-keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
@-o-keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
@keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
.logo, .m-footer .mobil-shop-ico {
  background-image: url("../images/logo.png");
  display: block;
  max-width: 100%;
  height: auto;
  width: 116px;
  height: 40px;
  float: left;
  background-size: cover; }

.container {
  max-width: 1244px;
  width: 100%;
  padding: 0;
  margin-bottom: 40px;
  font-size: 10px; }

.no_padding.col-lg-1, .no_padding.col-lg-10, .no_padding.col-lg-11, .no_padding.col-lg-12, .no_padding.col-lg-2,
.no_padding.col-lg-3, .no_padding.col-lg-4, .no_padding.col-lg-5, .no_padding.col-lg-6, .no_padding.col-lg-7,
.no_padding.col-lg-8, .no_padding.col-lg-9, .no_padding.col-md-1, .no_padding.col-md-10, .no_padding.col-md-11,
.no_padding.col-md-12, .no_padding.col-md-2, .no_padding.col-md-3, .no_padding.col-md-4, .no_padding.col-md-5,
.no_padding.col-md-6, .no_padding.col-md-7, .no_padding.col-md-8, .no_padding.col-md-9, .no_padding.col-sm-1,
.no_padding.col-sm-10, .no_padding.col-sm-11, .no_padding.col-sm-12, .no_padding.col-sm-2, .no_padding.col-sm-3,
.no_padding.col-sm-4, .no_padding.col-sm-5, .no_padding.col-sm-6, .no_padding.col-sm-7, .no_padding.col-sm-8,
.no_padding.col-sm-9, .no_padding.col-xs-1, .no_padding.col-xs-10, .no_padding.col-xs-11, .no_padding.col-xs-12,
.no_padding.col-xs-2, .no_padding.col-xs-3, .no_padding.col-xs-4, .no_padding.col-xs-5, .no_padding.col-xs-6,
.no_padding.col-xs-7, .no_padding.col-xs-8, .no_padding.col-xs-9 {
  padding-right: 0px;
  padding-left: 0px; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #757575; }

a:hover, a.active, a:focus {
  text-decoration: none;
  color: #2979ff; }

.m-btn, .listen-btm, .add-btm, section.header .container .subscribe {
  font-family: "Open Sans Semibold";
  display: inline-block;
  margin-bottom: 0;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid white;
  white-space: nowrap;
  float: left;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0.15);
  padding: 10px 12px;
  font-size: 9px;
  line-height: 9px;
  border-radius: 24px; }
  .m-btn:hover, .listen-btm:hover, .add-btm:hover, section.header .container .subscribe:hover {
    -webkit-animation: fadeOnFontHover 0.4s;
    -o-animation: fadeOnFontHover 0.4s;
    -moz-animation: fadeOnFontHover 0.4s;
    animation: fadeOnFontHover 0.4s; }
  .m-btn:focus, .listen-btm:focus, .add-btm:focus, section.header .container .subscribe:focus, .m-btn.focus, .focus.listen-btm, .focus.add-btm, section.header .container .focus.subscribe {
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0);
    border-color: rgba(191, 191, 191, 0.15); }
  .m-btn:hover, .listen-btm:hover, .add-btm:hover, section.header .container .subscribe:hover {
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0);
    border-color: rgba(224, 224, 224, 0.15); }
  .m-btn:active, .listen-btm:active, .add-btm:active, section.header .container .subscribe:active, .m-btn.active, .active.listen-btm, .active.add-btm, section.header .container .active.subscribe {
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0);
    border-color: rgba(224, 224, 224, 0.15); }
  .m-btn:hover, .listen-btm:hover, .add-btm:hover, section.header .container .subscribe:hover, .m-btn:focus, .listen-btm:focus, .add-btm:focus, section.header .container .subscribe:focus, .m-btn.focus, .focus.listen-btm, .focus.add-btm, section.header .container .focus.subscribe, .m-btn.active, .active.listen-btm, .active.add-btm, section.header .container .active.subscribe {
    text-decoration: none;
    background-color: #2979ff; }
  .m-btn span, .listen-btm span, .add-btm span, section.header .container .subscribe span {
    letter-spacing: 2.3px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    vertical-align: middle;
    color: #F5FFFD;
    margin-left: 10px; }

.add-btm {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 10px;
  font-size: 16px; }

.icon {
  cursor: pointer;
  display: inline-block;
  font: normal normal normal 14px/1 "Material-Design-Iconic-Font";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 40px;
  vertical-align: middle; }
  .icon:hover {
    color: #2979ff; }
    .icon:hover:hover {
      -webkit-animation: fadeOnColorHover 0.4s;
      -o-animation: fadeOnColorHover 0.4s;
      -moz-animation: fadeOnColorHover 0.4s;
      animation: fadeOnColorHover 0.4s; }

.icon-repeat:before, .player .container .center .controls .icon-next:before {
  content: ""; }

.icon-prev:before {
  content: ""; }

.icon-pause:before {
  content: ""; }

.icon-pause-circle:before {
  content: ""; }

.icon-next:before {
  content: ""; }

.icon-shuffle:before {
  content: ""; }

.icon-add:before {
  content: ""; }

section.header {
  position: relative;
  margin-top: 74px;
  width: 100%;
  height: 227px;
  overflow: hidden;
  height: 227px; }
  section.header .container {
    position: relative;
    height: 227px;
    margin-bottom: 0; }
    section.header .container .subscribe {
      color: white;
      font-size: 10px;
      position: absolute;
      top: 87px;
      right: 0; }
    section.header .container .info {
      padding-top: 148px;
      color: white; }
      section.header .container .info .name {
        display: block;
        font-size: 24px;
        text-transform: uppercase; }
        section.header .container .info .name .zmdi {
          color: white;
          opacity: 0.25;
          font-size: 14px;
          line-height: 20px;
          margin-left: 20px; }
      section.header .container .info .genres {
        font-size: 10px;
        opacity: 0.25; }
  section.header .bg {
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    min-height: 227px;
    z-index: -2; }

.video .player {
  border-color: transparent;
  background-color: #212121; }
.video .glyphicon.glyphicon-chevron-left, .video .glyphicon.glyphicon-chevron-right {
  font-family: "Material-Design-Iconic-Font"; }
  .video .glyphicon.glyphicon-chevron-left:before, .video .glyphicon.glyphicon-chevron-right:before {
    font-size: 60px;
    content: ""; }
.video .glyphicon.glyphicon-chevron-right:before {
  content: ""; }
.video .slider {
  margin-top: 72px; }
.video .m-small-el .cover {
  height: 260px; }
  .video .m-small-el .cover img {
    height: auto; }
.video .m-footer .logo.simple, .video .m-footer .simple.mobil-shop-ico {
  background-image: none; }

.m-menu-category {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  font-weight: bold;
  letter-spacing: 2.5px;
  font-size: 10px;
  text-transform: uppercase;
  position: relative;
  padding: 120px 0 22px; }
  .m-menu-category.small-padding-top {
    padding-top: 50px; }
  .m-menu-category .top-menu a {
    float: left;
    margin-right: 38px; }
  .m-menu-category .filter {
    position: absolute;
    right: 0; }
    .m-menu-category .filter a {
      color: #bdbdbd; }
      .m-menu-category .filter a:hover {
        color: #2979ff; }

.m-title {
  letter-spacing: 2.5px;
  text-transform: uppercase;
  padding: 20px 0px;
  margin-bottom: 30px;
  font-weight: 600;
  color: #616161;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09); }
  .m-title span {
    position: relative;
    color: #e0e0e0;
    left: 15px;
    top: 4px; }

.slider {
  margin-top: 20px; }
  .slider .fon {
    width: 100%;
    overflow: hidden; }
    .slider .fon img {
      width: 100%; }
  .slider .m-slide-big {
    padding-left: 0;
    padding-right: 20px; }
    .slider .m-slide-big .fon {
      height: 360px;
      overflow: hidden; }
      .slider .m-slide-big .fon img {
        min-height: 360px; }
    .slider .m-slide-big .m-slide-left, .slider .m-slide-big .m-slide-right {
      position: absolute;
      display: block;
      top: 150px;
      font-size: 50px;
      color: white;
      opacity: 0.25;
      cursor: pointer; }
      .slider .m-slide-big .m-slide-left:hover, .slider .m-slide-big .m-slide-right:hover {
        opacity: 1; }
    .slider .m-slide-big .m-slide-right {
      right: 31px; }
    .slider .m-slide-big .m-slide-left, .slider .m-slide-big .m-slide-right {
      left: 31px;
      display: none; }
    .slider .m-slide-big .m-slide-el {
      -webkit-box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.25);
      box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.25);
      display: none; }
    .slider .m-slide-big .m-slide-el.active {
      border-radius: 2px;
      overflow: hidden;
      display: block; }
    .slider .m-slide-big .text {
      position: absolute;
      left: 356px;
      top: 66px;
      margin-bottom: 66px; }
      .slider .m-slide-big .text .header {
        color: #F5FAF6;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 3px;
        padding-bottom: 17px; }
      .slider .m-slide-big .text .name {
        color: #21362D;
        font-size: 12px;
        letter-spacing: 3px; }
      .slider .m-slide-big .text .description {
        font-weight: normal;
        color: #D6E5DE;
        font-size: 14px;
        margin-right: 50px;
        white-space: pre-line;
        margin-bottom: 61px; }
      .slider .m-slide-big .text .first-block.chevron-right {
        position: absolute;
        bottom: 162px;
        right: 31px;
        color: red; }
  .slider .left-block .left-block-el {
    border-radius: 2px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.25);
    box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.25);
    position: relative;
    height: 170px;
    width: 100%;
    overflow: hidden;
    color: white; }
    .slider .left-block .left-block-el:hover .shadow {
      background-color: rgba(0, 0, 0, 0.25); }
    .slider .left-block .left-block-el .shadow {
      background-color: rgba(0, 0, 0, 0.45);
      height: 100%;
      width: 100%;
      z-index: 1;
      position: absolute; }
    .slider .left-block .left-block-el .fon img {
      max-width: 100%; }
    .slider .left-block .left-block-el .text {
      z-index: 5;
      position: absolute;
      left: 20px;
      bottom: 20px; }
      .slider .left-block .left-block-el .text .title {
        color: #F5FFFD;
        letter-spacing: 3px;
        font-size: 12px;
        padding-bottom: 22px; }
    .slider .left-block .left-block-el:first-child {
      margin-bottom: 20px; }

.m-small-el {
  border-radius: 2px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.25);
  box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.25);
  width: 190px; }
  .m-small-el .cover, .m-small-el .cover img {
    width: 190px;
    height: 190px; }
  .m-small-el .info {
    padding: 16px 9px 20px;
    position: relative; }
    .m-small-el .info .right {
      color: #bdbdbd;
      position: absolute;
      right: 9px;
      top: 16px; }
      .m-small-el .info .right .like {
        margin-right: 14px; }
      .m-small-el .info .right .zmdi {
        margin-right: 8px; }

.m-content .m-music-block ul {
  text-align: justify;
  line-height: 0;
  zoom: 1;
  margin: 0;
  padding: 0;
  text-align-last: justify; }
.m-content .m-music-block ul:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: "";
  display: inline-block; }
.m-content .m-music-block ul li {
  display: inline-block;
  text-align: left;
  /* ╨Т╨╛╤Б╤В╨░╨╜╨░╨▓╨╗╨╕╨▓╨░╨╡╨╝ ╤Г ╨┐╨╛╤В╨╛╨╝╨║╨╛╨▓, ╨║╤А╨╛╨╝╨╡ ╨┐╨╛╤Б╨╗╨╡╨┤╨╜╨╡╨│╨╛ */
  line-height: normal;
  /* ╨С╨╡╨╖ ╨╜╨╡╨│╨╛ ╨▓ Opera ╨▒╤Г╨┤╨╡╤В ╨╛╤В╤Б╤В╤Г╨┐ ╨┐╨╛╨┤ ╤Н╨╗╨╡╨╝╨╡╨╜╤В╨░╨╝╨╕ */
  vertical-align: top; }
.m-content .m-music-block-small .m-blocks .m-small-el {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.25);
  box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.25);
  border-radius: 2px;
  float: left;
  width: 11.25402%;
  margin-right: 1.42398%;
  margin-bottom: 40px; }
  .m-content .m-music-block-small .m-blocks .m-small-el .cover, .m-content .m-music-block-small .m-blocks .m-small-el .cover img {
    width: 100%;
    height: auto; }
  .m-content .m-music-block-small .m-blocks .m-small-el .info {
    padding: 16px 9px 20px;
    position: relative; }
  @media only screen and (min-width: 1244px) {
    .m-content .m-music-block-small .m-blocks .m-small-el:nth-child(8n) {
      margin-right: 0; } }
  @media only screen and (max-width: 1244px) and (min-width: 900px) {
    .m-content .m-music-block-small .m-blocks .m-small-el {
      width: 11.25402%;
      margin-right: 3.53698%; }
      .m-content .m-music-block-small .m-blocks .m-small-el:nth-child(7n) {
        margin-right: 0; }
      .m-content .m-music-block-small .m-blocks .m-small-el:nth-child(15) {
        display: none; }
      .m-content .m-music-block-small .m-blocks .m-small-el:nth-child(16) {
        display: none; } }
  .m-content .m-music-block-small .m-blocks .m-small-el .music-style, .m-content .m-music-block-small .m-blocks .m-small-el .content .singer {
    color: #616161;
    font-family: "Open Sans Semibold"; }
  .m-content .m-music-block-small .m-blocks .m-small-el .content {
    margin: 18px 0 5px; }
    .m-content .m-music-block-small .m-blocks .m-small-el .content .singer {
      color: #2979ff;
      font-size: 12px;
      margin-bottom: 10px; }
    .m-content .m-music-block-small .m-blocks .m-small-el .content .song {
      color: #616161; }

.m-playlist .m-el {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.25);
  box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.25);
  float: left;
  border-radius: 2px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.25);
  box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.25);
  position: relative;
  height: 170px;
  width: 100%;
  overflow: hidden;
  color: white;
  width: 32.15434%;
  margin-right: 1.76849%; }
  .m-playlist .m-el:hover .shadow {
    background-color: rgba(0, 0, 0, 0.25); }
  .m-playlist .m-el .shadow {
    background-color: rgba(0, 0, 0, 0.45);
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute; }
  .m-playlist .m-el .fon img {
    max-width: 100%; }
  .m-playlist .m-el .text {
    z-index: 5;
    position: absolute;
    left: 20px;
    bottom: 20px; }
    .m-playlist .m-el .text .title {
      color: #F5FFFD;
      letter-spacing: 3px;
      font-size: 12px;
      padding-bottom: 22px; }
  .m-playlist .m-el:first-child, .m-playlist .m-el:last-child {
    margin-right: 0; }

.m-footer {
  position: relative; }
  .m-footer .menu {
    float: left;
    margin-left: 70px; }
    .m-footer .menu a {
      font-size: 12px;
      color: #bdbdbd;
      line-height: 40px;
      float: left;
      margin-right: 38px; }
      .m-footer .menu a:hover {
        color: #2979ff; }
  .m-footer .mobil-shop-ico {
    position: absolute;
    right: 0px;
    background-image: url("../images/apk.png");
    width: 280px; }

.m-user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  overflow: hidden; }
  .m-user-avatar img {
    width: 50px;
    height: 50px; }

/*# sourceMappingURL=index.css.map */
