@base-font: 'Open Sans', sans-serif;
@base-font-size: 10px;
@base-color:#757575;

.container{
  max-width: 1244px;
  width: 100%;
  padding: 0;
}
.m-menu-category{
  font-family: @base-font;
  background: #ffffff;
  font-weight: bold;
  letter-spacing: 2.5px;
  font-size: @base-font-size;
  text-transform: uppercase;
  position: relative;
  padding: 47px 0 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);

  .top_menu a{
    float: left;
    margin-right: 38px;
  }

  a{
    text-decoration: none;
    cursor: pointer;
    color:@base-color;
  }
  a:hover{
    color: #2979ff;
  }

  a.active{
    color: #2979ff;
  }

  .filter a{
    color: #bdbdbd;
  }
  .filter{
    position: absolute;
    right:0;
  }
}

.slaider{
  .blocks{
    margin-top: 50px;
    font-weight: bold;
  }
  .first-block{
    float: left;
    position: relative;
    margin-right: 15px;
    margin-bottom: 1px;

    .btm{
      display: block;
    }
    .add-btm{
      position: absolute;
      bottom:131px;
      left: 468px;
      border: 1px solid rgba(189, 189, 189, 0.09);
      color:#F5FFFD;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      text-align: center;
      vertical-align: middle;
      padding: 2px;
    }
    .listen-btm {
      float: left;
      position: absolute;
      bottom:131px;
      left: 356px;
      border: 1px solid rgba(189, 189, 189, 0.08);
      border-radius: 24px;
      color:#F5FFFD;
      padding: 2px;
      margin: 0 2px 0 2px;
    }

    .play{
      float: left;
    }

    .listen{
      letter-spacing: 2.3px;
      text-transform: uppercase;
      font-size: 9px;
      font-weight: bold;
      margin: 3px 0 0 0;
      vertical-align: middle;
      color:#F5FFFD;
    }

  }

  .fon{
    height: 400px;
  }

  .girl1{
    position: absolute;
    top:50px;
    left:48px;
  }
  
  .text{
    position: absolute;
    left: 356px;
    top:50px;

    .header{
      color:#F5FAF6;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 3px;
      padding-bottom: 10px;
    }

    .name{
      color:#21362D;
      font-size: 12px;
      letter-spacing: 3px;
      padding-bottom: 20px;
    }

    .description{
      font-weight: normal;
      color:#D6E5DE;
      font-size: 14px;
      margin-right: 50px;
      white-space: pre-line;
    }
  }

  .second-block{
    margin-top: 1px;
    margin-bottom: 20px;

  }
}



