@base-font: 'Open Sans', sans-serif;
@base-font-size: 10px;
@base-color: #757575;

.container {
  max-width: 1244px;
  width: 100%;
  padding: 0;
}
.m-menu-category {
  font-family: @base-font;
  background: #ffffff;
  font-weight: bold;
  letter-spacing: 2.5px;
  font-size: @base-font-size;
  text-transform: uppercase;
  position: relative;
  padding: 47px 0 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);

  .top_menu a {
    float: left;
    margin-right: 38px;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: @base-color;
  }
  a:hover {
    color: #2979ff;
  }

  a.active {
    color: #2979ff;
  }

  .filter a {
    color: #bdbdbd;
  }
  .filter {
    position: absolute;
    right: 0;
  }
}

.slaider {
  .blocks {
    margin-top: 50px;
    font-weight: bold;
  }
  .first-block {
    float: left;
    position: relative;
    margin-right: 15px;
    margin-bottom: 1px;
  }

  .add-btm {
    border: 1px solid rgba(189, 189, 189, 0.09);
    color: #F5FFFD;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    margin-left: 143px;
    display: block;
  }
  .listen-btm {
    float: left;
    border: 1px solid rgba(189, 189, 189, 0.08);
    border-radius: 24px;
    color: #F5FFFD;
    padding: 2px 10px 2px 14px;
  }

  .play {
    float: left;
    padding-right: 10px;
  }

  .listen {
    letter-spacing: 2.3px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    vertical-align: middle;
    color: #F5FFFD;
    margin-left: 10px;
  }

  .fon {
    height: 400px;
  }

  .girl1 {
    position: absolute;
    top: 50px;
    left: 48px;
  }

  .text {
    position: absolute;
    left: 356px;
    top: 66px;
    margin-bottom: 66px;

    .header {
      color: #F5FAF6;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 3px;
      padding-bottom: 17px;
    }

    .name {
      color: #21362D;
      font-size: 12px;
      letter-spacing: 3px;
    }

    .description {
      font-weight: normal;
      color: #D6E5DE;
      font-size: 14px;
      margin-right: 50px;
      white-space: pre-line;
      margin-bottom: 61px;
    }

    .first-block.chevron-right {
      position: absolute;
      bottom: 162px;
      right: 31px;
      color: red;
    }
  }

  .second-block {
    margin-top: 1px;
    margin-bottom: 20px;
  }
  .left-block {
    position: relative;
    float: left;
    position: relative;

    .text-2 {
      position: absolute;
      left: 20px;
      bottom: 20px;
      font-size: 12px;
    }

    .top20 {
      color: #F5FFFD;
      letter-spacing: 3px;
    }

    .text-2 .add-btm {
      border: 1px solid rgba(189, 189, 189, 0.3);
      padding: 5px;
    }

    .listen-btm {

    }
  }

  .third-block {
    position: relative;
    float: left;
  }

  .top20 {
    color: #F5FFFD;
    letter-spacing: 3px;
  }
  .third-block .text-2 .add-btm {
    border: 1px solid rgba(189, 189, 189, 0.3);
    padding: 5px;
  }
}

.circles {
  position: absolute;
  top: 332px;
  right: 20px;

  .circle {
    float: right;
    margin-right: 5px;
    font-size: 8px;
  }
}

.chevron-right {
  font-size: 60px;
  font-weight: bold;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.slider {
  margin-top: 20px;
  .fon {
    width: 100%;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  .add-btm {
    border: 1px solid rgba(255, 255, 225, 0.15);
    color: #F5FFFD;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    margin-left: 143px;
    display: block;
  }
  .listen-btm {
    float: left;
    border: 1px solid rgba(255, 255, 225, 0.15);
    border-radius: 24px;
    color: #F5FFFD;
    padding: 2px 10px 2px 14px;
  }

  .play {
    float: left;
    padding-right: 10px;
  }

  .listen {
    letter-spacing: 2.3px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    vertical-align: middle;
    color: #F5FFFD;
    margin-left: 10px;
  }

  .m-slide-big {
    .fon{
      height: 360px;
    }
    .fon img{
      min-height: 360px;
    }
    padding-right: 20px;
    padding-left: 0px;
    .m-slide-left,
    .m-slide-right{
      position: absolute;
      display: block;
      top: 150px;
      font-size: 50px;
      color: white;
      opacity: 0.25;
      cursor: pointer;
    }
    .m-slide-left:hover,
    .m-slide-right:hover{
      opacity: 1;
    }
    .m-slide-right{
      right: 31px;
    }
    .m-slide-left{
      left: 31px;
      display: none;
    }
    .m-slide-el{
      display: none;
    }
    .m-slide-el.active{
      display: block;
    }
    .text {
      position: absolute;
      left: 356px;
      top: 66px;
      margin-bottom: 66px;

      .header {
        color: #F5FAF6;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 3px;
        padding-bottom: 17px;
      }
      .name {
        color: #21362D;
        font-size: 12px;
        letter-spacing: 3px;
      }

      .description {
        font-weight: normal;
        color: #D6E5DE;
        font-size: 14px;
        margin-right: 50px;
        white-space: pre-line;
        margin-bottom: 61px;
      }

      .first-block.chevron-right {
        position: absolute;
        bottom: 162px;
        right: 31px;
        color: red;
      }
    }
  }
  .left-block{
    .left-block-el:first-child{
      margin-bottom: 20px;
    }
    .left-block-el{
      position: relative;
      height: 170px;
      overflow: hidden;
      .shadow{
        background-color: rgba(0, 0, 0, 0.45);
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
      }
      .fon img{
        height: 170px;
      }
      color: white;
      .text{
        z-index: 5;
        position: absolute;
        left: 20px;
        bottom: 20px;
        .title{
          color: #F5FFFD;
          letter-spacing: 3px;
          font-size: 12px;
          padding-bottom: 22px;
        }
      }
    }
  }

}

.m-music-albums-top{
  padding-top: 50px;


  .m-title{
    padding-bottom: 53px;
    color:#757575;
    letter-spacing: 2.5px;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .for-albums{
    height: 329px;
    width: 190px;
    background-color: #FAFAFA;
    margin-right: 17px;
    float:left;
    
  }

  .gaga-album{
   
    
  }

  .album-cover{
      
  }

  .gaga{
    position:relative;
  }
  

   /* .btn-play-blue{
      height: 30px;
      width: 30px;
      border-radius: 20px;
      background-color: #2979ff;
      color:#21362D
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 20px;
      text-align:center;
      color: #FCFCFF;
    }
    */

  .butom-menu-active{
    font-size: 10px;
    color: #E0E0E0;
    font-weight: bold;
    
  
    .social{
      padding-top: 16px;
      padding-bottom: 15px;

      .for-social{
        float: left;
      }

      .date{
        color: #757575;
        margin-right: 68px;
        padding-top: 7px;
      }

      .genre{
        color: #757575;
        margin-right: 55px;
        padding-top: 7px;
      }


      .like-button{
        margin-right: 14px;
        font-size: 18px;
      }

      .coment-button{
        font-size: 18px;
      }

       .btn-txt{
        font-size: 11px;
        vertical-align: middle;
        padding-bottom: 2px;
        padding-left: 1px;
      }
    }

    .active-player:hover {
      padding-top: 16px;
      color: #3B3B3B;
      font-size: 16px;

      .play-big-btn{
        font-size: 16px;
        border-radius: 28px;
        border: 1px solid #EEEEEE;
        width: 97px;
        height: 28px;
        padding: 3px 10px;
        float: left;
        margin-right: 5px;

          .listen-big{
          font-size: 10px;
          letter-spacing: 1.5px;
          font-weight: bold;
          color: #3B3B3B;
          vertical-align: middle;
          padding-bottom: 3px;
          margin-left: 3px;
        }
      }

      .for-btn-active{
        height:28px;
        width: 28px;
        border: 1px solid #EEEEEE;
        border-radius: 28px;
        padding: 1px;
        text-align: center;
        float:left;
      }

      .like-btn{
        color:#EF0055;
        margin-right: 7px;
        
      }
    }
  }
}

.description-album{
padding-top: 6px;

  .album-name{
    color:#337AFF;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .singer{
    color: #A5A5A5;
    font-size: 12px;
  }
}

.m-albums-wrapper{
 }