@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300");
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

a {
  background-color: transparent; }
  a:active {
    outline: 0; }
  a:hover {
    outline: 0; }

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.container {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 544px) {
    .container {
      max-width: 576px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 940px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }
  .container::after {
    display: table;
    clear: both;
    content: ""; }

@-webkit-keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@-moz-keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@-o-keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@-webkit-keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@-moz-keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@-o-keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@-webkit-keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
@-moz-keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
@-o-keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
@keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
.logo {
  background-image: url("../images/logo.png");
  display: block;
  max-width: 100%;
  height: auto;
  width: 116px;
  height: 40px;
  float: left;
  background-size: cover; }

.container {
  max-width: 1244px;
  width: 100%;
  padding: 0;
  margin-bottom: 40px;
  font-size: 10px; }

.no_padding.col-lg-1, .no_padding.col-lg-10, .no_padding.col-lg-11, .no_padding.col-lg-12, .no_padding.col-lg-2,
.no_padding.col-lg-3, .no_padding.col-lg-4, .no_padding.col-lg-5, .no_padding.col-lg-6, .no_padding.col-lg-7,
.no_padding.col-lg-8, .no_padding.col-lg-9, .no_padding.col-md-1, .no_padding.col-md-10, .no_padding.col-md-11,
.no_padding.col-md-12, .no_padding.col-md-2, .no_padding.col-md-3, .no_padding.col-md-4, .no_padding.col-md-5,
.no_padding.col-md-6, .no_padding.col-md-7, .no_padding.col-md-8, .no_padding.col-md-9, .no_padding.col-sm-1,
.no_padding.col-sm-10, .no_padding.col-sm-11, .no_padding.col-sm-12, .no_padding.col-sm-2, .no_padding.col-sm-3,
.no_padding.col-sm-4, .no_padding.col-sm-5, .no_padding.col-sm-6, .no_padding.col-sm-7, .no_padding.col-sm-8,
.no_padding.col-sm-9, .no_padding.col-xs-1, .no_padding.col-xs-10, .no_padding.col-xs-11, .no_padding.col-xs-12,
.no_padding.col-xs-2, .no_padding.col-xs-3, .no_padding.col-xs-4, .no_padding.col-xs-5, .no_padding.col-xs-6,
.no_padding.col-xs-7, .no_padding.col-xs-8, .no_padding.col-xs-9 {
  padding-right: 0px;
  padding-left: 0px; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #757575; }

a:hover, a.active, a:focus {
  text-decoration: none;
  color: #2979ff; }

.m-btn, .listen-btm, .add-btm, section.header .container .subscribe {
  font-family: "Open Sans Semibold";
  display: inline-block;
  margin-bottom: 0;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid white;
  white-space: nowrap;
  float: left;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0.15);
  padding: 10px 12px;
  font-size: 9px;
  line-height: 9px;
  border-radius: 24px; }
  .m-btn:hover, .listen-btm:hover, .add-btm:hover, section.header .container .subscribe:hover {
    -webkit-animation: fadeOnFontHover 0.4s;
    -o-animation: fadeOnFontHover 0.4s;
    -moz-animation: fadeOnFontHover 0.4s;
    animation: fadeOnFontHover 0.4s; }
  .m-btn:focus, .listen-btm:focus, .add-btm:focus, section.header .container .subscribe:focus, .m-btn.focus, .focus.listen-btm, .focus.add-btm, section.header .container .focus.subscribe {
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0);
    border-color: rgba(191, 191, 191, 0.15); }
  .m-btn:hover, .listen-btm:hover, .add-btm:hover, section.header .container .subscribe:hover {
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0);
    border-color: rgba(224, 224, 224, 0.15); }
  .m-btn:active, .listen-btm:active, .add-btm:active, section.header .container .subscribe:active, .m-btn.active, .active.listen-btm, .active.add-btm, section.header .container .active.subscribe {
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0);
    border-color: rgba(224, 224, 224, 0.15); }
  .m-btn:hover, .listen-btm:hover, .add-btm:hover, section.header .container .subscribe:hover, .m-btn:focus, .listen-btm:focus, .add-btm:focus, section.header .container .subscribe:focus, .m-btn.focus, .focus.listen-btm, .focus.add-btm, section.header .container .focus.subscribe, .m-btn.active, .active.listen-btm, .active.add-btm, section.header .container .active.subscribe {
    text-decoration: none;
    background-color: #2979ff; }
  .m-btn span, .listen-btm span, .add-btm span, section.header .container .subscribe span {
    letter-spacing: 2.3px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    vertical-align: middle;
    color: #F5FFFD;
    margin-left: 10px; }

.add-btm {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 10px;
  font-size: 16px; }

.icon {
  cursor: pointer;
  display: inline-block;
  font: normal normal normal 14px/1 "Material-Design-Iconic-Font";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 40px;
  vertical-align: middle; }
  .icon:hover {
    color: #2979ff; }
    .icon:hover:hover {
      -webkit-animation: fadeOnColorHover 0.4s;
      -o-animation: fadeOnColorHover 0.4s;
      -moz-animation: fadeOnColorHover 0.4s;
      animation: fadeOnColorHover 0.4s; }

.icon-repeat:before, .player .container .center .controls .icon-next:before {
  content: ""; }

.icon-prev:before {
  content: ""; }

.icon-pause:before {
  content: ""; }

.icon-pause-circle:before {
  content: ""; }

.icon-next:before {
  content: ""; }

.icon-shuffle:before {
  content: ""; }

.icon-add:before {
  content: ""; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

a {
  background-color: transparent; }
  a:active {
    outline: 0; }
  a:hover {
    outline: 0; }

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.container {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 544px) {
    .container {
      max-width: 576px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 940px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }
  .container::after {
    display: table;
    clear: both;
    content: ""; }

@-webkit-keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@-moz-keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@-o-keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@-webkit-keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@-moz-keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@-o-keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@-webkit-keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
@-moz-keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
@-o-keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
@keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
.logo {
  background-image: url("../images/logo.png");
  display: block;
  max-width: 100%;
  height: auto;
  width: 116px;
  height: 40px;
  float: left;
  background-size: cover; }

.container {
  max-width: 1244px;
  width: 100%;
  padding: 0;
  margin-bottom: 40px;
  font-size: 10px; }

.no_padding.col-lg-1, .no_padding.col-lg-10, .no_padding.col-lg-11, .no_padding.col-lg-12, .no_padding.col-lg-2,
.no_padding.col-lg-3, .no_padding.col-lg-4, .no_padding.col-lg-5, .no_padding.col-lg-6, .no_padding.col-lg-7,
.no_padding.col-lg-8, .no_padding.col-lg-9, .no_padding.col-md-1, .no_padding.col-md-10, .no_padding.col-md-11,
.no_padding.col-md-12, .no_padding.col-md-2, .no_padding.col-md-3, .no_padding.col-md-4, .no_padding.col-md-5,
.no_padding.col-md-6, .no_padding.col-md-7, .no_padding.col-md-8, .no_padding.col-md-9, .no_padding.col-sm-1,
.no_padding.col-sm-10, .no_padding.col-sm-11, .no_padding.col-sm-12, .no_padding.col-sm-2, .no_padding.col-sm-3,
.no_padding.col-sm-4, .no_padding.col-sm-5, .no_padding.col-sm-6, .no_padding.col-sm-7, .no_padding.col-sm-8,
.no_padding.col-sm-9, .no_padding.col-xs-1, .no_padding.col-xs-10, .no_padding.col-xs-11, .no_padding.col-xs-12,
.no_padding.col-xs-2, .no_padding.col-xs-3, .no_padding.col-xs-4, .no_padding.col-xs-5, .no_padding.col-xs-6,
.no_padding.col-xs-7, .no_padding.col-xs-8, .no_padding.col-xs-9 {
  padding-right: 0px;
  padding-left: 0px; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #757575; }

a:hover, a.active, a:focus {
  text-decoration: none;
  color: #2979ff; }

.m-btn, .listen-btm, .add-btm, section.header .container .subscribe {
  font-family: "Open Sans Semibold";
  display: inline-block;
  margin-bottom: 0;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid white;
  white-space: nowrap;
  float: left;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0.15);
  padding: 10px 12px;
  font-size: 9px;
  line-height: 9px;
  border-radius: 24px; }
  .m-btn:hover, .listen-btm:hover, .add-btm:hover, section.header .container .subscribe:hover {
    -webkit-animation: fadeOnFontHover 0.4s;
    -o-animation: fadeOnFontHover 0.4s;
    -moz-animation: fadeOnFontHover 0.4s;
    animation: fadeOnFontHover 0.4s; }
  .m-btn:focus, .listen-btm:focus, .add-btm:focus, section.header .container .subscribe:focus, .m-btn.focus, .focus.listen-btm, .focus.add-btm, section.header .container .focus.subscribe {
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0);
    border-color: rgba(191, 191, 191, 0.15); }
  .m-btn:hover, .listen-btm:hover, .add-btm:hover, section.header .container .subscribe:hover {
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0);
    border-color: rgba(224, 224, 224, 0.15); }
  .m-btn:active, .listen-btm:active, .add-btm:active, section.header .container .subscribe:active, .m-btn.active, .active.listen-btm, .active.add-btm, section.header .container .active.subscribe {
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0);
    border-color: rgba(224, 224, 224, 0.15); }
  .m-btn:hover, .listen-btm:hover, .add-btm:hover, section.header .container .subscribe:hover, .m-btn:focus, .listen-btm:focus, .add-btm:focus, section.header .container .subscribe:focus, .m-btn.focus, .focus.listen-btm, .focus.add-btm, section.header .container .focus.subscribe, .m-btn.active, .active.listen-btm, .active.add-btm, section.header .container .active.subscribe {
    text-decoration: none;
    background-color: #2979ff; }
  .m-btn span, .listen-btm span, .add-btm span, section.header .container .subscribe span {
    letter-spacing: 2.3px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    vertical-align: middle;
    color: #F5FFFD;
    margin-left: 10px; }

.add-btm {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 10px;
  font-size: 16px; }

.icon {
  cursor: pointer;
  display: inline-block;
  font: normal normal normal 14px/1 "Material-Design-Iconic-Font";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 40px;
  vertical-align: middle; }
  .icon:hover {
    color: #2979ff; }
    .icon:hover:hover {
      -webkit-animation: fadeOnColorHover 0.4s;
      -o-animation: fadeOnColorHover 0.4s;
      -moz-animation: fadeOnColorHover 0.4s;
      animation: fadeOnColorHover 0.4s; }

.icon-repeat:before, .player .container .center .controls .icon-next:before {
  content: ""; }

.icon-prev:before {
  content: ""; }

.icon-pause:before {
  content: ""; }

.icon-pause-circle:before {
  content: ""; }

.icon-next:before {
  content: ""; }

.icon-shuffle:before {
  content: ""; }

.icon-add:before {
  content: ""; }

.player {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  display: block;
  padding: 10px 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(33, 33, 33, 0.1);
  box-shadow: 0px 5px 5px 0px rgba(33, 33, 33, 0.1); }
  .player {
    border-bottom: 3px solid #f5f5f5; }
    .player:hover .line:after {
      display: inline-block; }
    .player .line {
      background-color: #2979ff;
      height: 3px;
      position: absolute;
      z-index: 6;
      width: 45%;
      bottom: -3px;
      cursor: pointer; }
      .player .line:after {
        display: none;
        position: absolute;
        top: -5px;
        right: -5px;
        color: #2979ff;
        font: normal normal normal 14px/1 "Material-Design-Iconic-Font";
        content: "";
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
  .player .container {
    margin-bottom: 0;
    color: #e0e0e0; }
    .player .container .icon {
      font-size: 14px;
      vertical-align: middle;
      display: block;
      margin-right: 20px;
      padding: 5px;
      line-height: 40px;
      cursor: pointer; }
      .player .container .icon i:hover {
        color: #2979ff; }
        .player .container .icon i:hover:hover {
          -webkit-animation: fadeOnColorHover 0.4s;
          -o-animation: fadeOnColorHover 0.4s;
          -moz-animation: fadeOnColorHover 0.4s;
          animation: fadeOnColorHover 0.4s; }
    .player .container .left {
      padding: 5px 0;
      float: left;
      width: 25%; }
    .player .container .center {
      float: left;
      width: 50%; }
      .player .container .center .controls {
        display: table;
        margin: 0 auto; }
        .player .container .center .controls .icon {
          display: inline-block;
          font-size: 20px;
          line-height: 40px;
          vertical-align: middle; }
          .player .container .center .controls .icon:last-child {
            margin-right: 0; }
          .player .container .center .controls .icon:hover {
            color: #2979ff; }
            .player .container .center .controls .icon:hover:hover {
              -webkit-animation: fadeOnColorHover 0.4s;
              -o-animation: fadeOnColorHover 0.4s;
              -moz-animation: fadeOnColorHover 0.4s;
              animation: fadeOnColorHover 0.4s; }
        .player .container .center .controls .icon_repeat {
          margin-right: 70px; }
    .player .container .right {
      width: 20%;
      float: right; }
      .player .container .right .m-user-avatar {
        float: right; }
      .player .container .right .icon {
        float: right; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

a {
  background-color: transparent; }
  a:active {
    outline: 0; }
  a:hover {
    outline: 0; }

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.container {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 544px) {
    .container {
      max-width: 576px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 940px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }
  .container::after {
    display: table;
    clear: both;
    content: ""; }

@-webkit-keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@-moz-keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@-o-keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #2979ff; } }
@-webkit-keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@-moz-keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@-o-keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@keyframes fadeOutFontHover {
  0% {
    background-color: #2979ff; }
  100% {
    background-color: transparent; } }
@-webkit-keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
@-moz-keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
@-o-keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
@keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #2979ff; } }
.logo {
  background-image: url("../images/logo.png");
  display: block;
  max-width: 100%;
  height: auto;
  width: 116px;
  height: 40px;
  float: left;
  background-size: cover; }

.container {
  max-width: 1244px;
  width: 100%;
  padding: 0;
  margin-bottom: 40px;
  font-size: 10px; }

.no_padding.col-lg-1, .no_padding.col-lg-10, .no_padding.col-lg-11, .no_padding.col-lg-12, .no_padding.col-lg-2,
.no_padding.col-lg-3, .no_padding.col-lg-4, .no_padding.col-lg-5, .no_padding.col-lg-6, .no_padding.col-lg-7,
.no_padding.col-lg-8, .no_padding.col-lg-9, .no_padding.col-md-1, .no_padding.col-md-10, .no_padding.col-md-11,
.no_padding.col-md-12, .no_padding.col-md-2, .no_padding.col-md-3, .no_padding.col-md-4, .no_padding.col-md-5,
.no_padding.col-md-6, .no_padding.col-md-7, .no_padding.col-md-8, .no_padding.col-md-9, .no_padding.col-sm-1,
.no_padding.col-sm-10, .no_padding.col-sm-11, .no_padding.col-sm-12, .no_padding.col-sm-2, .no_padding.col-sm-3,
.no_padding.col-sm-4, .no_padding.col-sm-5, .no_padding.col-sm-6, .no_padding.col-sm-7, .no_padding.col-sm-8,
.no_padding.col-sm-9, .no_padding.col-xs-1, .no_padding.col-xs-10, .no_padding.col-xs-11, .no_padding.col-xs-12,
.no_padding.col-xs-2, .no_padding.col-xs-3, .no_padding.col-xs-4, .no_padding.col-xs-5, .no_padding.col-xs-6,
.no_padding.col-xs-7, .no_padding.col-xs-8, .no_padding.col-xs-9 {
  padding-right: 0px;
  padding-left: 0px; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #757575; }

a:hover, a.active, a:focus {
  text-decoration: none;
  color: #2979ff; }

.m-btn, .listen-btm, .add-btm, section.header .container .subscribe {
  font-family: "Open Sans Semibold";
  display: inline-block;
  margin-bottom: 0;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid white;
  white-space: nowrap;
  float: left;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0.15);
  padding: 10px 12px;
  font-size: 9px;
  line-height: 9px;
  border-radius: 24px; }
  .m-btn:hover, .listen-btm:hover, .add-btm:hover, section.header .container .subscribe:hover {
    -webkit-animation: fadeOnFontHover 0.4s;
    -o-animation: fadeOnFontHover 0.4s;
    -moz-animation: fadeOnFontHover 0.4s;
    animation: fadeOnFontHover 0.4s; }
  .m-btn:focus, .listen-btm:focus, .add-btm:focus, section.header .container .subscribe:focus, .m-btn.focus, .focus.listen-btm, .focus.add-btm, section.header .container .focus.subscribe {
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0);
    border-color: rgba(191, 191, 191, 0.15); }
  .m-btn:hover, .listen-btm:hover, .add-btm:hover, section.header .container .subscribe:hover {
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0);
    border-color: rgba(224, 224, 224, 0.15); }
  .m-btn:active, .listen-btm:active, .add-btm:active, section.header .container .subscribe:active, .m-btn.active, .active.listen-btm, .active.add-btm, section.header .container .active.subscribe {
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0);
    border-color: rgba(224, 224, 224, 0.15); }
  .m-btn:hover, .listen-btm:hover, .add-btm:hover, section.header .container .subscribe:hover, .m-btn:focus, .listen-btm:focus, .add-btm:focus, section.header .container .subscribe:focus, .m-btn.focus, .focus.listen-btm, .focus.add-btm, section.header .container .focus.subscribe, .m-btn.active, .active.listen-btm, .active.add-btm, section.header .container .active.subscribe {
    text-decoration: none;
    background-color: #2979ff; }
  .m-btn span, .listen-btm span, .add-btm span, section.header .container .subscribe span {
    letter-spacing: 2.3px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    vertical-align: middle;
    color: #F5FFFD;
    margin-left: 10px; }

.add-btm {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 10px;
  font-size: 16px; }

.icon {
  cursor: pointer;
  display: inline-block;
  font: normal normal normal 14px/1 "Material-Design-Iconic-Font";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 40px;
  vertical-align: middle; }
  .icon:hover {
    color: #2979ff; }
    .icon:hover:hover {
      -webkit-animation: fadeOnColorHover 0.4s;
      -o-animation: fadeOnColorHover 0.4s;
      -moz-animation: fadeOnColorHover 0.4s;
      animation: fadeOnColorHover 0.4s; }

.icon-repeat:before, .player .container .center .controls .icon-next:before {
  content: ""; }

.icon-prev:before {
  content: ""; }

.icon-pause:before {
  content: ""; }

.icon-pause-circle:before {
  content: ""; }

.icon-next:before {
  content: ""; }

.icon-shuffle:before {
  content: ""; }

.icon-add:before {
  content: ""; }

section.header {
  position: relative;
  margin-top: 74px;
  width: 100%;
  height: 227px;
  overflow: hidden;
  height: 227px; }
  section.header .container {
    position: relative;
    height: 227px;
    margin-bottom: 0; }
    section.header .container .subscribe {
      color: white;
      font-size: 10px;
      position: absolute;
      top: 87px;
      right: 0; }
    section.header .container .info {
      padding-top: 148px;
      color: white; }
      section.header .container .info .name {
        display: block;
        font-size: 24px;
        text-transform: uppercase; }
        section.header .container .info .name .zmdi {
          color: white;
          opacity: 0.25;
          font-size: 14px;
          line-height: 20px;
          margin-left: 20px; }
      section.header .container .info .genres {
        font-size: 10px;
        opacity: 0.25; }
  section.header .bg {
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    min-height: 227px;
    z-index: -2; }

.play-track {
  margin-right: 1.60772%;
  width: 18.39228%;
  float: left; }
  .play-track .m-small-el {
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09); }
    .play-track .m-small-el .cover {
      position: relative;
      width: 100%;
      height: auto;
      margin-bottom: 24px; }
      .play-track .m-small-el .cover .first, .play-track .m-small-el .cover .last {
        bottom: -6px;
        position: absolute;
        width: 89.47368%;
        left: 5.26316%;
        height: 10px;
        z-index: -3;
        background-color: rgba(33, 33, 33, 0.1); }
      .play-track .m-small-el .cover .last {
        width: 78.94737%;
        left: 10.52632%;
        height: 16px;
        bottom: -14px;
        background-color: rgba(33, 33, 33, 0.05); }
    .play-track .m-small-el .cover img {
      width: 100%;
      height: auto; }

.track-playlist {
  float: left;
  width: 80%; }
  .track-playlist .header {
    position: relative; }
    .track-playlist .header .volume, .track-playlist .header .info-track {
      width: 10%;
      height: 40px;
      float: left;
      position: relative; }
      .track-playlist .header .volume:hover .line, .track-playlist .header .info-track:hover .line {
        background-color: #2979ff; }
      .track-playlist .header .volume, .track-playlist .header .info-track {
        border-bottom: 3px solid #f5f5f5; }
        .track-playlist .header .volume:hover .line:after, .track-playlist .header .info-track:hover .line:after {
          display: inline-block; }
        .track-playlist .header .volume .line, .track-playlist .header .info-track .line {
          background-color: #2979ff;
          height: 3px;
          position: absolute;
          z-index: 6;
          width: 45%;
          bottom: -3px;
          cursor: pointer; }
          .track-playlist .header .volume .line:after, .track-playlist .header .info-track .line:after {
            display: none;
            position: absolute;
            top: -5px;
            right: -5px;
            color: #2979ff;
            font: normal normal normal 14px/1 "Material-Design-Iconic-Font";
            content: "";
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale; }
      .track-playlist .header .volume .line, .track-playlist .header .info-track .line {
        background-color: #bdbdbd; }
    .track-playlist .header .info-track {
      width: 60%;
      vertical-align: top;
      color: #212121;
      font-size: 12px;
      font-family: "Open Sans Semibold", sans-serif;
      text-align: left;
      margin: 0 50px; }
      .track-playlist .header .info-track {
        border-bottom: 3px solid #f5f5f5; }
        .track-playlist .header .info-track:hover .line:after {
          display: inline-block; }
        .track-playlist .header .info-track .line {
          background-color: #2979ff;
          height: 3px;
          position: absolute;
          z-index: 6;
          width: 45%;
          bottom: -3px;
          cursor: pointer; }
          .track-playlist .header .info-track .line:after {
            display: none;
            position: absolute;
            top: -5px;
            right: -5px;
            color: #2979ff;
            font: normal normal normal 14px/1 "Material-Design-Iconic-Font";
            content: "";
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale; }
      .track-playlist .header .info-track .time {
        position: absolute;
        right: 0;
        top: 0;
        color: #bdbdbd;
        font-size: 10px; }
    .track-playlist .header .control {
      float: left;
      position: relative; }
      .track-playlist .header .control .icon {
        color: #bdbdbd;
        font-size: 13px;
        padding: 5px; }
        .track-playlist .header .control .icon:hover {
          color: #2979ff; }
      .track-playlist .header .control .icon.blue {
        display: inline-block;
        color: #f5f5f5;
        padding: 10px;
        margin: 0 10px;
        background-color: #2979ff;
        border-radius: 25px;
        line-height: 5px; }
        .track-playlist .header .control .icon.blue:hover {
          background-color: #f5f5f5; }
      .track-playlist .header .control.right {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2; }
  .track-playlist .tracks {
    position: relative; }
    .track-playlist .tracks .track-el {
      position: relative;
      float: left;
      width: 100%;
      padding: 10px 0;
      text-align: left;
      color: #bdbdbd;
      font-family: "Open Sans Semibold"; }
      .track-playlist .tracks .track-el.play .position {
        color: transparent;
        position: relative; }
        .track-playlist .tracks .track-el.play .position:before {
          display: block;
          position: absolute;
          top: 0px;
          left: 0;
          color: #2979ff;
          font: normal normal normal 14px/1 "Material-Design-Iconic-Font";
          content: "";
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          -webkit-animation: scale2x 1s infinite alternate;
          -o-animation: scale2x 1s infinite alternate;
          -moz-animation: scale2x 1s infinite alternate;
          animation: scale2x 1s infinite alternate; }
      .track-playlist .tracks .track-el .position {
        margin-left: 20px;
        float: left;
        width: 30px; }
      .track-playlist .tracks .track-el .name {
        float: left;
        width: 40%;
        color: #252525; }
      .track-playlist .tracks .track-el .artist {
        float: left;
        width: 40%; }
      .track-playlist .tracks .track-el .duration {
        position: absolute;
        right: 20px;
        float: left; }

@-webkit-keyframes scale2x {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes scale2x {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-o-keyframes scale2x {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes scale2x {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

/*# sourceMappingURL=user.css.map */
